.landing-page {
    >.container {
        padding: 60px;
    }
    .content-bg-wrap:before {
        background-color: $base-primary;
        opacity: 0.5;
    }
    .content-bg-wrap {
        background-image: url("/img/landing.jpg");
        background-position: 0 0;
        background-repeat: repeat;
        -webkit-animation: none;
        animation: none;
        background-size: auto;
    }
    .landing-content {
        background: $black;
        opacity: 0.8;
        padding: 30px;
        border-radius: 5px;
        >p {
            font-size: 1rem;
            margin-bottom: 20px;
        }
    }
    .auth0-lock.auth0-lock.auth0-lock-opened-in-frame,
    .auth0-lock.auth0-lock.auth0-lock-opened-in-frame .auth0-lock-widget {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .landing-content,
    .auth0-lock-widget {
        height: 450px;
    }
}
