$base-primary: #560698;
$light-primary: #7309c9;
$dark-primary: #34025d;
$base-secondary: #e2b400;
$light-secondary: #ffd42b;
$dark-secondary: #8a6e00;
$white: #fff;
$black: #000;
$gray-100: #111;
$gray-200: #222;
$gray-300: #333;
$gray-400: #444;
$gray-500: #555;
$gray-600: #666;
$gray-700: #777;
$gray-800: #888;
$gray-900: #999;
$gray-a00: #aaa;
$gray-b00: #bbb;
$gray-c00: #ccc;
$gray-d00: #ddd;
$gray-e00: #eee;
